@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  width: 375px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input::placeholder {
  color: #9ebbbd;
}

input:focus {
  border: 2px solid #26C2AE;
}

.tips {
  background: #00474b;
  color: white;
  padding: 6px 17px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.tips:hover {
  background: #26c2ae;
  color: #00474b;
}

.tips:active {
  background: #9FE8DF;
}

#active-tip {
  background: #26c2ae;
  color: #00474b;
}

.buttons-num {
  font-size: 24px;
  line-height: 36px;
}

.amount-total {
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.person {
  color: #7f9d9f;
  font-size: 13px;
  line-height: 19px;
}

@media screen and (min-width: 930px) {
  body {
    width: 920px;
  }

  .tips {
    padding: 6px 14px;
  }

}
